<ion-tabs class="tabs-icon-top tabs-color-active-positive " ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="Mes églises" icon-off="icon1-off" icon-on="icon1-on" href="#/main/churches">
    <ion-nav-view name="main-churches"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Don régulier" icon-off="icon2-off" icon-on="icon2-on" href="#/main/donregular">
    <ion-nav-view name="main-donregular"></ion-nav-view>
  </ion-tab>

  <ion-tab title="La Quête" icon-off="icon3-off" icon-on="icon3-on" href="#/main/jedonne">
    <ion-nav-view name="main-jedonne"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Historique" icon-off="icon4-off" icon-on="icon4-on" href="#/main/history" badge="badgeCountHistory" badge-style="badge-assertive">
    <ion-nav-view name="main-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mon compte" icon-off="icon5-off" icon-on="icon5-on" href="#/main/account">
    <ion-nav-view name="main-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
