<ion-nav-bar class="bar-stable " ng-class="iosdevice ? 'top-ios':'' ">
    <!--
  <button>
  <i class="ion-arrow-left-c"></i> Back
  <button>
  -->
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="back()">
            <i class="ion-ios-arrow-back"></i> Retour
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        Mot de passe oublié?
    </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="" class="login-bg">
    <ion-content>
        <div class="container">
            <div class="account-holder">
                <form   class="profile-form" name="userForm" ng-submit="" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label>Veuillez entrer votre adresse email</label>
                        <input type="text" ng-disabled="mydisabled" name="email" class="form-control" ng-model="user.email" required>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Email est requis</p>
                    </div>
                    <button type="submit" class="btn-profile-save btn btn-default" id="profile"  ng-click="submit_btn()">Valider</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
