
<ion-nav-bar class="bar-stable " ng-class="iosdevice ? 'top-ios':'' ">
  <!--
<button>
<i class="ion-arrow-left-c"></i> Back
<button>
-->
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'android'">
      <i class="ion-android-arrow-back"></i>
    </button>
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'ios'">
      <i class="ion-ios-arrow-back"></i> Retour
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Notification
  </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="" class="login-bg">
  <ion-content>

    <div class="container">
      <div class="account-holder">
        <div class="notification">
          <p>“Le reçu vous sera transmis par voie électronique dans les 24 heures. Merci de vériﬁer votre adresse email. En cas de problème, merci d’adresser un mail à <a class="email" href="#">romain@la-quete.fr</a>” </p>
          <button type="submit" class="btn-profile-save btn btn-default" id="profile"  ng-click="back()">Retour à mon compte</button>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
