<ion-nav-bar class="bar-stable " ng-class="iosdevice ? 'top-ios':'' ">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'android'">
      <i class="ion-android-arrow-back"></i>
    </button>
    <button class="button button-clear" ng-click="back()" ng-if="platform == 'ios'">
      <i class="ion-ios-arrow-back"></i> Retour
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Infos bancaires
  </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="" class="login-bg">
  <ion-content>
    <div class="main">
      <div class="sign-in">
        <div class="col-sm-12">
          <form name="userForm" ng-submit="profoliosubmit()" novalidate>

            <!--<div class="form-group" ng-class="{ 'her-error' : userForm.email.$invalid && !userForm.email.$pristine }">-->
            <!--<label for="email">Stripe Email</label>-->
            <!--<input type="email" id="email" ng-disabled="mydisabled" name="email" class="form-control" ng-model="user.email" placeholder="Email">-->
            <!--<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>-->
            <!--</div>-->
            <div class="form-group" ng-class="{ 'has-error' : userForm.cc_number.$invalid && !userForm.cc_number.$pristine }">
              <label>Numéro de carte</label>
              <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" ng-disabled="mydisabled" name="cc_number" class="form-control" placeholder="{{user.card_no_p_h}}" ng-model="user.card_no" ng-required="true" ng-minlength="16" ng-maxlength="16">
              <!--<p ng-show="userForm.cc_number.$invalid && !userForm.cc_number.$pristine && !userForm.cc_number.$error.required" class="help-block">Entrez un numéro valide.</p>-->
              <p class="help-block" ng-show="userForm.cc_number.$error.required && !userForm.cc_number.$pristine">Ce champ est requis.</p>
              <p ng-show="userForm.cc_number.$error.minlength" class="help-block">Trop court.</p>
              <p ng-show="userForm.cc_number.$error.maxlength" class="help-block">Trop long.</p>
            </div>
            <!--<div class="form-group" ng-class="{ 'has-error' : userForm.cc_exp_date.$invalid && !userForm.cc_exp_date.$pristine }">-->
              <!--<label>Date d'expiration</label>-->
              <!--<input type="date" ng-disabled="mydisabled" name="cc_exp_date" class="form-control" ng-model="user.cc_exp_date" ng-required="true">-->
              <!--&lt;!&ndash;<p ng-show="userForm.cc_exp_date.$invalid && !userForm.cc_exp_date.$pristine && !userForm.cc_exp_date.$error.required" class="help-block">Entrez une date d'expiration valide.</p>&ndash;&gt;-->
              <!--<p class="help-block" ng-show="userForm.cc_exp_date.$error.required && !userForm.cc_exp_date.$pristine">Ce champ est requis.</p>-->
            <!--</div>-->

            <div class="form-group" ng-class="{ 'has-error' : (userForm.cc_exp_month.$invalid && !userForm.cc_exp_month.$pristine) || (userForm.cc_exp_year.$invalid && !userForm.cc_exp_year.$pristine) }">
              <label style="display:block">Date d'expiration</label>
              <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" ng-disabled="mydisabled" name="cc_exp_month" class="form-control" ng-model="user.cc_exp_month" ng-required="true" ng-minlength="1" ng-maxlength="2" style="display:inline-block; width:20%">
              /
              <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" ng-disabled="mydisabled" name="cc_exp_year" class="form-control" ng-model="user.cc_exp_year" ng-required="true" ng-minlength="4" ng-maxlength="4" style="display:inline-block; width:30%">
              <!--<p ng-show="userForm.cc_cvc.$invalid && !userForm.cc_cvc.$pristine && !userForm.cc_cvc.$error.required" class="help-block">CVC incorrect.</p>-->
              <p class="help-block" ng-show="userForm.cc_exp_month.$error.required && !userForm.cc_exp_month.$pristine">Mois est requis</p>
              <p class="help-block" ng-show="userForm.cc_exp_year.$error.required && !userForm.cc_exp_month.$pristine">An est requis</p>
              <p ng-show="userForm.cc_exp_month.$error.minlength" class="help-block">Mois court.</p>
              <p ng-show="userForm.cc_exp_month.$error.maxlength" class="help-block">Mois long.</p>
              <p ng-show="userForm.cc_exp_year.$error.minlength" class="help-block">An court.</p>
              <p ng-show="userForm.cc_exp_year.$error.maxlength" class="help-block">An long.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.cc_cvc.$invalid && !userForm.cc_cvc.$pristine }">
              <label>Cryptogramme</label>
              <input type="password" min="0" inputmode="numeric" pattern="[0-9]*" ng-disabled="mydisabled" name="cc_cvc" class="form-control" ng-model="user.ccv" ng-required="true" ng-minlength="3" ng-maxlength="3">
              <!--<p ng-show="userForm.cc_cvc.$invalid && !userForm.cc_cvc.$pristine && !userForm.cc_cvc.$error.required" class="help-block">CVC incorrect.</p>-->
              <p class="help-block" ng-show="userForm.cc_cvc.$error.required && !userForm.cc_cvc.$pristine">Ce champ est requis</p>
              <p ng-show="userForm.cc_cvc.$error.minlength" class="help-block">Trop court.</p>
              <p ng-show="userForm.cc_cvc.$error.maxlength" class="help-block">Trop long.</p>
            </div>

            <div class="has-error">
              <p class="help-block" ng-show="error">{{error}}</p>
            </div>

            <button type="submit" class="btn-profile-save btn btn-default" id="profile" ng-disabled="!mydisabled && (userForm.$pristine || userForm.$invalid)"  ng-click="profile_btn($event, userForm)">{{btn_text}}</button>
            <img src="images/cards.gif" class="" style="height: 27px;">

            <!--<button  class="btn btn-primary col col-50 col-offset-25" ng-click="continue()">Plus tard</button>-->
            <p><br>NB : Afin de limiter les frais bancaires, un seul virement sera effectué chaque mois, quel que soit le nombre de dons effectués.</p>
          </form>
        </div>
      </div>
    </div>

    <!--<div class="container">-->
      <!--<div class="account-holder">-->
        <!--<form   class="profile-form" name="userForm" ng-submit="profoliosubmit()" novalidate>-->

<!--&lt;!&ndash;-->
          <!--<label class="item custom-item-input item-input item-select">-->
            <!--<div class="input-label">-->
              <!--<font style="opacity:1.0" size="2">Carte de paiement</font>-->
            <!--</div>-->
            <!--<select ng-disabled="mydisabled">-->
              <!--<option>Mastercard</option>-->
              <!--<option selected>Visa</option>-->
            <!--</select>-->
          <!--</label>-->
<!--&ndash;&gt;-->


          <!--<div class="form-group" ng-class="{ 'her-error' : userForm.card_no.$invalid && !userForm.card_no.$pristine }">-->
            <!--<label>No. de carte</label>-->
            <!--<input type="text" ng-disabled="mydisabled" name="card_no" class="form-control" placeholder="{{user.card_no_p_h}}" ng-model="user.card_no" required ng-minlength="16" ng-maxlength="16">-->

            <!--<p ng-show="userForm.card_no.$error.minlength" class="help-block">Trop court.</p>-->
            <!--<p ng-show="userForm.card_no.$error.maxlength" class="help-block">Trop long.</p>-->
            <!--<p ng-show="userForm.card_no.$error.required && !userForm.card_no.$pristine" class="help-block">de carte is required.</p>-->
          <!--</div>-->
          <!--<div class="form-group" ng-class="{ 'her-error' : userForm.email.$invalid && !userForm.email.$pristine }">-->
            <!--<label>Date d’expiration</label>-->
            <!--&lt;!&ndash;            <input type="email" ng-disabled="mydisabled" name="email" class="form-control" ng-model="user.email" placeholder="Email">&ndash;&gt;-->
            <!--<ionic-datepicker  input-obj="datepickerObject">-->
              <!--<button ng-disabled="mydisabled" class="button button-clear button-dark"> Exp: {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>-->
            <!--</ionic-datepicker>-->
            <!--<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Entrez un email valide.</p>-->
          <!--</div>-->

          <!--<div class="form-group" ng-class="{ 'her-error' : userForm.ccv.$invalid && !userForm.ccv.$pristine }">-->
            <!--<label>Code de sécurité</label>-->
            <!--<input type="text" ng-disabled="mydisabled" name="ccv" class="form-control" ng-model="user.ccv" required ng-minlength="3" ng-maxlength="3">-->

            <!--<p ng-show="userForm.ccv.$error.required && !userForm.ccv.$pristine" class="help-block">Le code de sécurité est requis.</p>-->
            <!--<p ng-show="userForm.ccv.$error.minlength" class="help-block">Trop court.</p>-->
            <!--<p ng-show="userForm.ccv.$error.maxlength" class="help-block">Trop long.</p>-->

          <!--</div>-->
          <!--<button type="submit" class="btn-profile-save btn btn-default" id="profile"  ng-click="profile_btn()">{{btn_text}}</button>-->
          <!--<img src="images/cards.gif" class="" style="height: 27px;">-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
