<ion-nav-bar class="bar-stable" ng-class="iosdevice ? 'top-ios':'' ">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()" ng-show="((scopeParam.ma_paroisses && !scopeParam.main_church_added) || (!scopeParam.ma_paroisses && !scopeParam.in_fav_list))">
      <i class="ion-ios-arrow-back"></i> Retour
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Mes églises
  </ion-nav-title>
</ion-nav-bar>
<ion-view class="history-bg">
  <ion-content data-tap-disabled="false" scroll="true" id="body-content">
    <form ng-submit="onSubmitChurches()">

    <div class="padding churches-padding">
      <!--	Area for scopeParam.ma_paroisses selected-->
      <div class="button-bar" data-tap-disabled="true">
        <div class="button" id="tab-churches"
           ng-click="maParoisse()"
           ng-class="{'bg-green':scopeParam.ma_paroisses,'bg-white':!scopeParam.ma_paroisses}">
          <font size="2">Ma Paroisse</font>
        </div>
        <div class="button" id="tab-fav-churches"
           ng-click="autresParoisses()"
           ng-class="{'bg-green':!scopeParam.ma_paroisses,'bg-white':scopeParam.ma_paroisses}">
          <font size="2">Mes autres églises</font>
        </div>
      </div>
      <!--		Area for scopeParam.ma_paroisses unselected-->
<!--      <div class="button-bar" ng-hide="scopeParam.ma_paroisses">
        <a class="button bg-white" ng-click="maParoisse()"><font size="2">Ma paroisse</font></a>
        <a class="button bg-green" id="tab-fav-churches" ng-click="maParoisse()"><font size="2">Mes autres églises</font></a>
      </div>-->

      <!--		scopeParam.ma_paroisses selected radio buttons for postville selected search-->
      <div ng-show="scopeParam.ma_paroisses && !scopeParam.main_church_added" class="filter-section" >
<!--        <input class="form-control" name="query" type="text"  value="Search" ng-model="query" placeholder="Filter..." ng-blur="hideKeyboard()">-->
        <div class="item item-input item-icon-right" style="background:white;">
          <input type="text" name="query" id="query_id" ng-model="scopeParam.query"  placeholder="Ville, code postal" ng-focus="queryFocus(true, scopeParam.query)">
          <font size="5px"><i class="ion-ios-close-outline" id="query-cancel" ng-show="scopeParam.query.length" style="margin-right: 5px;" ng-click="hideKeyboard()"></i></font>
        </div>
      </div>

      <ion-scroll ng-show="!is_map && scopeParam.ma_paroisses && !scopeParam.main_church_added" class="scroll-list-small">
        <ion-list class="listing">
          <ion-item class="listing" ng-repeat="church in all_churches  | filterChurch:scopeParam.query" type="item-text-wrap" >
            <li>
              <div class="col-sm-2 col-xs-2">
                <div class="image-holder">
                  <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
                </div>
              </div>
              <div class="col-sm-6 col-xs-7">
                <a class="twolines title">{{church.name}}</a>
                <span class="oneline-ellipsis">{{church.zip ? church.zip : ''}} {{church.city!='null' ? church.city : ''}}</span>
              </div>
              <div class="col-sm-3 col-xs-1">
                  <span class="donate-price" ng-if="church.id == main_church_id">
                    <font color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>
                  </span>
                  <span class="donate-price" ng-if="church.id != main_church_id">
                    <i class="glyphicon glyphicon-plus-sign" ng-click="addMainChurch(church)"></i>
                  </span>
              </div>
            </li>
          </ion-item>
        </ion-list>
      </ion-scroll>

      <!--		scopeParam.ma_paroisses unselected radio buttons for postville selected search-->
      <ion-scroll ng-show="!scopeParam.ma_paroisses && scopeParam.in_fav_list && fav_churches.length" class="scroll-list-small">
        <ion-list class="listing">
          <ion-item class="listing" ng-repeat="church in fav_churches" type="item-text-wrap" >
            <li>
              <div class="col-sm-2 col-xs-2">
                <div class="image-holder">
                  <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
                </div>
              </div>
              <div class="col-sm-6 col-xs-7">
                <a class="twolines title">{{church.name}}</a>
                <span class="oneline-ellipsis">{{church.zip}} {{church.city}}</span>
              </div>
              <div class="col-sm-3 col-xs-1">
              <span class="donate-price" ng-if="church.id == main_church_id">
               <font color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>
              </span>
                <span class="donate-price" ng-if="church.id != main_church_id"><i class="glyphicon glyphicon-minus-sign" ng-click="makeFavorite(church)"></i></span>
              </div>
            </li>
          </ion-item>
        </ion-list>
      </ion-scroll>

      <span class="default-plus" ng-show="!scopeParam.ma_paroisses && scopeParam.in_fav_list && fav_churches.length" ng-click="goToChooseFav()" ><i class="glyphicon glyphicon-plus add-favorite-church-icon"></i> Ajouter une église</span>

      <div ng-show="!scopeParam.ma_paroisses && !scopeParam.in_fav_list" class="filter-section">
        <div class="item item-input item-icon-right" style="background:white;">
          <input type="text" name="query_fav" id="query_fav_id" ng-model="scopeParam.query_fav"  placeholder="Ville, code postal" ng-click="queryFocusFav(true, scopeParam.query_fav)" id="query_fav_id">
          <font size="5px"><i class="ion-ios-close-outline" id="query-fav-cancel" ng-show="scopeParam.query_fav.length" style="margin-right: 5px;" ng-click="hideKeyboardFav()"></i></font>
        </div>
      </div>

      <ion-scroll ng-show="!is_map_fav && !scopeParam.ma_paroisses && !scopeParam.in_fav_list" class="scroll-list-small">
        <ion-list class="listing">
          <ion-item class="listing" ng-repeat="church in all_churches | filterChurch:scopeParam.query_fav" type="item-text-wrap" >
            <li>
            <div class="col-sm-2 col-xs-2">
              <div class="image-holder">
                <img ng-src="{{church.picto}}" class="img-responsive" alt="image">
              </div>
            </div>
            <div class="col-sm-6 col-xs-7">
              <a class="twolines title">{{church.name}}</a>
              <span class="oneline-ellipsis">{{church.zip}} {{church.city}}</span>
            </div>
            <div class="col-sm-3 col-xs-1">
              <span class="donate-price" ng-if="church.id == main_church_id">
               <font color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>
              </span>
                <span class="donate-price" ng-if="church.id != main_church_id && !church.favorite">
                  <i class="glyphicon glyphicon-plus-sign" ng-click="makeFavorite(church)"></i>
                </span>
              <span class="donate-price" ng-if="church.id != main_church_id && church.favorite"><i class="glyphicon glyphicon-minus-sign" ng-click="makeFavorite(church)"></i></span>
            </div>
            </li>
          </ion-item>
        </ion-list>
      </ion-scroll>

      <!--		Main church div-->
      <div ng-show="scopeParam.main_church_added && scopeParam.ma_paroisses && hasValue(main_church_id)" class="church-details">
       <h4 style="text-align:center;">{{main_church.name}}</h4>
        <div class="col-sm-3 col-xs-3">
          <div class="image-holder">
            <img ng-src="{{main_church.picto}}" class="img-responsive" alt="image">
          </div>
        </div>
        <div class="col-sm-9 col-xs-9">
          <span class="title">{{main_church.address}}</span>
          <span class="zipcode">{{main_church.zip}}</span>
        </div>
        <div class="col-sm-12 col-xs-12 text-center">
          <a class="church-btn-edit" ng-click="editMainChurch()">Modifier</a>
        </div>
      </div>

      <div ng-show="scopeParam.main_church_added && scopeParam.ma_paroisses && !hasValue(main_church_id)" class="church-details">
        <div class="col-sm-12 col-xs-12 text-center">
          <a class="church-btn-edit" ng-click="editMainChurch()" style="width: 155px">Ajouter ma paroisse</a>
        </div>
      </div>

      <div ng-show="!scopeParam.ma_paroisses && scopeParam.in_fav_list && !fav_churches.length && initialized" class="church-details">
        <div class="col-sm-12 col-xs-12 text-center">
          <a class="church-btn-edit" ng-click="goToChooseFav()" style="width: 155px">Ajouter ma paroisse</a>
        </div>
      </div>

      <!--<div map-lazy-load="https://maps.google.com/maps/api/js" data-tap-disabled="true" >-->
        <ng-map  ng-show="(scopeParam.ma_paroisses && is_map && !scopeParam.main_church_added) || (!scopeParam.ma_paroisses && is_map_fav && !scopeParam.in_fav_list)" data-tap-disabled="true" street-view-control="false" zoom-control="false" default-style="true" map-type-control="false" zoom="12">
          <marker ng-repeat="church in near_churches" position="[{{church.latitude}},{{church.longitude}}]" id="marker{{$index}}" on-click="markerShowInfoWindow($index)"></marker>
          <a ng-click="current_location(true)" class="button button-icon icon  ion-android-locate" id = "current_location"></a>

          <info-window id="info-window-church">
            <div ng-non-bindable="">
              <h>{{selected_church_marker.name}}</h>
              </br>
              <p>{{selected_church_marker.address}}</p>
              <div ng-hide="!scopeParam.main_church_added && scopeParam.ma_paroisses" class="map-info-icon-container">
                <i ng-show="selected_church_marker.favorite" class="glyphicon glyphicon-minus-sign" ng-click="test(selected_church_index_marker)"></i>
                <i ng-show="!selected_church_marker.favorite" class="glyphicon glyphicon-plus-sign" ng-click="test(selected_church_index_marker)"></i>
              </div>
              <div ng-show="!scopeParam.main_church_added && scopeParam.ma_paroisses" class="map-info-icon-container">
                <font ng-show="hasValue(main_church_id) && main_church_id == selected_church_marker.id" color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>
                <i ng-hide="hasValue(main_church_id) && main_church_id == selected_church_marker.id" class="glyphicon glyphicon-plus-sign" ng-click="main(selected_church_index_marker)"></i>
              </div>
            </div>
          </info-window>
        </ng-map>
      <!--</div>-->

      <button id="buttonForHideKeyboard" type="submit" ng-click="hideKeyboardWhenEnter()"></button>

      <!--		List for geolocalisatin list of ma paroisse	-->
      <!--<div ng-show="!PostVille && !is_map && scopeParam.ma_paroisses && !scopeParam.main_church_added" class="scroll-list" style="transform: translate3d(0px, 0px, 0px) scale(1);" scroll="true">-->

        <!--<ul class="listing"  >-->
          <!--<li ng-repeat="church in near_churches">-->
            <!--<div class="col-sm-2 col-xs-2">-->
              <!--<div class="image-holder">-->
                <!--<img ng-src="{{church.picto}}" class="img-responsive" alt="image">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-xs-6">-->
              <!--<a class="title">{{church.name}}</a>-->
              <!--<span>{{church.zip}}</span>-->
            <!--</div>-->
            <!--<div class="col-sm-3 col-xs-2">-->
              <!--<span class="donate-price" ng-if="church.id == main_church_id">-->
                <!--<font color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>-->
              <!--</span>-->
              <!--<span class="donate-price" ng-if="church.id != main_church_id"><i class="glyphicon glyphicon-plus-sign" ng-click="addMainChurch(church)"></i></span>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--		List for geolocalisatin list of mes autres paroisses	-->
      <!--<div ng-show="!PostVilleFav && !is_map_fav && !scopeParam.ma_paroisses" class="scroll-list" style="transform: translate3d(0px, 0px, 0px) scale(1);" scroll="true">-->

        <!--<ul class="listing"  ng-show="has_near_churches">-->
          <!--<li ng-repeat="church in near_churches">-->
            <!--<div class="col-sm-2 col-xs-2">-->
              <!--<div class="image-holder">-->
                <!--<img ng-src="{{church.picto}}" class="img-responsive" alt="image">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-xs-6">-->
              <!--<a class="title">{{church.name}}</a>-->
              <!--<span>{{church.zip}}</span>-->
            <!--</div>-->
            <!--<div class="col-sm-3 col-xs-2">-->

             <!--<span class="donate-price" ng-if="church.id == main_church_id">-->
               <!--<font color="#B39E83"><i class="glyphicon glyphicon-minus-sign"></i></font>-->
              <!--</span>-->
              <!--<span class="donate-price" ng-if="!church.favorite && church.id != main_church_id">-->
                <!--<i class="glyphicon glyphicon-plus-sign" ng-click="makeFavorite(church)"></i>-->
              <!--</span>-->
              <!--<span class="donate-price" ng-if="church.favorite && church.id != main_church_id"><i class="glyphicon glyphicon-minus-sign" ng-click="makeFavorite(church)"></i></span>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<p ng-show="!has_near_churches"> {{no_near_church_msg}}</p>-->
      <!--</div>-->

    </div>
    <div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 330px;"></div></div>
    </form>
  </ion-content>
</ion-view>
